<div class="sidebar-content">
  <div class="profile">
    <div class="avatar-wrapper">
       <img src="{{ site.author.avatar | relative_url }}" alt="{{ site.author.name }}">
    </div>
    <h2>{{ site.author.name }}</h2>
    <p>{{ site.author.institution }}</p>
    <div class="social-links">
      {% for link in site.links %}
      <div class="social-link">
	<i class="{{ link.icon }}"></i>
	<a href="{{ link.url }}"
	   {% if link.new_tag %} target="_blank" rel="noopener" {% endif %}>
        {{ link.name }}</a> 	
        </div>
      {% endfor %}
    </div>
  </div>
</div>


