

/* 基础灰色 */
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$lightless-gray             : mix(#fff, $gray, 30%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

$black                      : #474747;
$black-light                : mix(#fff, $black, 80%);
$black-lighter              : mix(#fff, $black, 90%);


/* 颜色 */
$terblue                    : #5371C6;    
$haoblue                    : #A6C9EC;  
$terpink                    : #FF9497;

	  
/* 背景 */
$background-light           : #bac9d4;
$background-dark            : #{$black};


/* 文本 */
$text-light                 : #{$dark-gray};
$text-dark                  : #e8dfdf;

$textlight-light          : #{$gray};
$textlight-dark           : mix(#fff, $text-dark, 80%);

/* border */
$border-light               : mix(#000, $gray, 25%);
$border-dark                : #e8dfdf;

/* links */
$link-light                 : #{$terblue};
$link-dark                  : #{$haoblue};
